

/* ---------------------------------------
			Start Main Styles 
----------------------------------------- */
html,body{
    padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: Helvetica,Arial,sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
	background-color:  #0a192f;
}

div{
	color:#8892b0;
}
p{
	color:#8892b0;
	margin:0;
	padding:0;
	font-size:1.2em;
	font-family: 'Crimson Text', serif;
	/* font-family: 'Alegreya',serif; */
}

h1,h2,h3,h4{
	font-family: 'Roboto', sans-serif;
}

h2{
	color: #64ffda;
}

h3,h4,h5{
	color: #e6f1ff;
}

a{
	text-decoration: none;
}
/* End Main Styles */

/* ---------------------------------------
			Start Preloader 
----------------------------------------- */

/* .preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 9999;
}

.preloader .pulse {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: .35;
	background-color: #fff;
	-webkit-animation: pulsing 2s infinite ease-in-out;
	        animation: pulsing 2s infinite ease-in-out;
}

.preloader .pulse:nth-of-type(2) {
	-webkit-animation-delay: -1s;
	        animation-delay: -1s;
}

@-webkit-keyframes pulsing {
	0%, 100% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes pulsing {
	0%, 100% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
} 
 */


/* End Preloader Styles */

/* ---------------------------------------
			Start Navbar 
----------------------------------------- */
nav .navbar-brand span{
	font-size:2rem; 
	color: #64ffda;
}

nav .nav-item{
	font-size:1.3em;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 2px;
	transition: all 0.25s;
	color: #8892b0;
}
nav .nav-item:hover{
	transform: scale(1.2);
}
nav .navbar-nav{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
} 

/* End Navbar Section */


/* ---------------------------------------
			Start Header Section 
----------------------------------------- */
#particles-js{
	/*background: linear-gradient(0deg,#0a192f 10% , #ccd6f6 100%);*/ /*#3b58d8*/
	background: linear-gradient(#9c9c9c, #190027);
	width:100%;
	height: 100vh;
	overflow: hidden;
	animation: back 10s linear infinite;
}

@keyframes back {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

header h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    /*text-align: center;*/
    color: #e6f1ff;
	text-transform: uppercase;
	font-size: 4.75em;
	transition: all 2s;
}

header p{
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top:50%;
    width:100%;
    color:#ccd6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	/*transition: all 2s;*/
}

header .icon-wrapper{
    position: absolute;
	top:60%;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
    align-content: center;
	animation: none;
}

header .icon-wrapper .icon{
	text-decoration: none;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	animation: none;
	transition: all 0.25s;
}

header .icon-wrapper .icon:hover{
	/* transform: scale(1.2); */
	transform: translateY(10%);
	cursor: pointer;
}

@media(max-width:780px){
header h1{
	font-size: 2.7em;
	
}
header p{
	font-size: 1.2rem;
	top:47%;
}
}
/*h1 span {
    opacity: 0;
    display: inline;
    animation: animated 1s linear forwards;
}

@keyframes animated {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}
*/

/* h1 span:nth-child(1) {
    animation-delay: 0.2s;  
}

h1 span:nth-child(2) {
    animation-delay: 0.4s;  
}

h1 span:nth-child(3) {
    animation-delay: 0.6s;  
}

h1 span:nth-child(4) {
    animation-delay: 0.8s;  
}

h1 span:nth-child(5) {
    animation-delay: 1s;  
}

h1 span:nth-child(6) {
    animation-delay: 1.2s;  
}

h1 span:nth-child(7) {
    animation-delay: 1.4s;  
}

h1 span:nth-child(8) {
    animation-delay: 1.6s;  
}

h1 span:nth-child(9) {
    animation-delay: 1.8s;  
}

h1 span:nth-child(10) {
	animation-delay: 2s;
}
h1 span:nth-child(11) {
    animation-delay: 2.2s;  
}
h1 span:nth-child(12) {
    animation-delay: 2.4s;  
}
h1 span:nth-child(13) {
    animation-delay: 2.6s;  
}
 */



 header .mouse {
	width: 30px;
	height: 45px;
	border: 3px solid #fff;
	border-radius: 20px;
	position: absolute;
	bottom:  50px;
	left:  50%;
	cursor: pointer;
	-webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
	-webkit-animation: mouseMove 2s infinite;
	animation: mouseMove 2s infinite;
}
header .mouse:after {
	position: absolute;
	content: '';
	width: 3px;
	height: 10px;
	border: 3px solid #fff;
	border-radius: 5px;
	left: 9px;
	top: 8px;
}
@-webkit-keyframes mouseMove {
	0% { bottom: 50px; }
	50% { bottom: 30px; }
}
@keyframes mouseMove {
	0% { bottom: 50px; }
	50% { bottom: 30px; }
}

/* End Header Section */

/* ---------------------------------------
			Start About Section 
----------------------------------------- */
#about-me{
	margin-bottom: 15vh;
}

.picture{
	box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.5);
	/*background: #dddddd;
	max-width: 45vh;
    max-height: 45h;*/
}






/* End About Section */

/* ---------------------------------------
			Start Education Section 
----------------------------------------- */

#education{
	margin-bottom: 15vh;
}






/* End Education Section */

/* ---------------------------------------
			Start Skills Section 
----------------------------------------- */
#skills	{
	margin-bottom: 20vh;
}







/* End Skills Section */


/* ---------------------------------------
			Start Footer 
----------------------------------------- */

.footer {
	background: #181818;/* #0a192f */ /*#0F0F0F*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .follow-me {
	background:#e6f1ff;
	color: #333339;
	font-weight: 400;
	position: relative;
	padding: 10px 20px;
	border-radius: 0 0 10px 10px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 1.7px;
	width: 130px;
	transition: all 0.3s;
	
} 

.footer .follow-me:before, .footer .follow-me:after {
	position: absolute;
	content: "";
	border-top: 10px solid transparent;
	top: -10px;
} 
 .footer .follow-me:before {
	border-right: 10px solid #9e9e9e;
	left: -10px;
} 

.footer .mail a{
	text-decoration: none;
	color:#8892b0;
	font-weight: 500;
}

.footer .mail a:hover{
	text-decoration: none;
	color: #64ffda;
}
.footer .follow-me:after {
	border-left: 10px solid #9E9E9E;
	left: 130px;
}
.footer .icon-wrapper {
	line-height: 1;
}
.footer .icon-wrapper .icon {
	display: inline-block;
	position: relative;
	font-size: 1.5em;
	background: #303C55;
	color: #8892b0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-align: center; 
	-webkit-transition: all 0.3s; 
	transition: all 0.3s;
}
.footer .icon-wrapper .icon i {
	position: relative;
	display: block;
	line-height: inherit;
	-webkit-transition: all 0.3s; 
	transition: all 0.3s;
}
.footer .icon-wrapper .icon:hover i:first-child {
	margin-top: -50px;
}
.footer .icon-wrapper .icon.fb:hover {background: #0077B5; text-decoration: none;}
.footer .icon-wrapper .icon.in:hover {background: #bc2a8d; text-decoration: none;}
.footer .icon-wrapper .icon.gt:hover {background: #000000; text-decoration: none;}
.footer .icon-wrapper .icon.lin:hover {background: #0077B5; text-decoration: none;}
.footer .icon-wrapper .icon.be:hover {background: #0057FF; text-decoration: none;}
.footer .icon-wrapper .icon.gm:hover {background: #fc2424; text-decoration: none;}
.footer .copyright {
	border-top: 1px solid #333;
	padding: 15px 0;
}

.footer .copyright p {
	color:#8892b0;
	font-weight: 400;
	letter-spacing: 1.5px;
	transition: all 0.2s;
	font-size: 1rem;
}

.footer .copyright p:hover{
	color: #64ffda;
	cursor: pointer;
	
}

/* End Footer */




